.filterbutton-component {
  float: right;
  width: 100px;
  height:35px;
  background: transparent;
  border: solid;
  border-width: 2px;
  display: block;
  margin: auto;
  margin-top: 15px;
  color: white;

  &:hover {
    background: white;
    transition-duration: 0.4s;
    color: rgb(95,196,193);
    outline: none;
  }

  &:focus {
    outline: none;
  }
}
